<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="pw.aristos.arnylib">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true">
        <service android:name=".network.QueryService"/>
        <service android:name=".network.ApiSendService"/>
        <service android:name=".service.Operations"/>
    </application>

</manifest>
